.card{
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 10px;
    margin: 5px;
}
.card .btn{
    transition: transform 0.7s;
    display: none;
}

.card:hover .btn{
    transform: scale3d(1,1,1);
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    font-size: smaller; 
    border-radius:10px ;
    display: inline-block;
    color: antiquewhite;
}
.card h3{
    display: none;
}
.card:hover h3{
    text-align: center;
    display: inline-block;
    font-size: smaller;
    color: rgb(209, 149, 72);
}
.card{
    transition: transform 0.8s;
}
.card:hover{
    transform: scale3d(1.5,1.5,1.5);
    z-index: 1;
    color: antiquewhite;
}
.imageContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#searchInput{
    border-radius: 5px;
    
}