
#mainContainer{
    background-image: url("../assets/uwp3534539.jpeg");
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    width: 400px;
    border: 2px solid black;
    border-radius: 10px;
}

div label{
    margin: 10px;
}

#email,#password,#confirmPassword,#name{
    font-size: medium;
    font-weight: 500;
    width: 300px;
}
.form-label{
    font-size: larger;
    font-weight: 700;
}

